{{!--Jumbotron elements--}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-3 text-center pt-5">{{jumbotronElements.title}}</h1>
            <h3 class="text-center">{{jumbotronElements.textLine}}</h3>
        </div>
    </div>
    <p class="text-center my-5">
        <a class="bg-jumbotron__btn hovered-btn" href="#portfolio" role="button">{{jumbotronElements.jumboBtn}}</a>
    </p>
    <div class="text-center">
        <a class="font-white hovered-menu" href="#intro" role="button">
            <i class="mb-5 {{jumbotronElements.jumboIcon}}" aria-hidden="true"></i>
        </a>
    </div>
</div>