<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>One Page Site</title>
        <meta name="author" content="David Hajnal">
        <meta name="description" content="One Page sitebuild exercise">
        <meta name="keywords" content="one,page,exercise,sample,template,sitebuild">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../dist/css/base.css">
    </head>
    <body>
        {{{body}}}
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/src/js/smooth-scroll.js"></script>
    </body>
</html>
