// article stylsheet

.article-row {
  @include media-breakpoint-up(lg) {

    &__item {
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid $color-mid-grey;

      &:last-of-type {
        border: none;
      }
    }
  }

  &__item {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $color-mid-grey;
    color: $color-black-transparent;
  }

  &__link {
    @extend %hover-transition;
    color: $color-black;

    &:hover,
    &:focus {
      color: $color-blue;
      text-decoration: none;
    }

    &:visited {
      color: $color-black;
      text-decoration: none;
    }
  }

  &__author {
    display: inline;
    font-weight: 300;

    &::before {
      content: '\02011'; //Non-breaking hyphen
    }
  }
}

.main-article {
  @include media-breakpoint-down(md) {
    border-bottom: 1px solid $color-mid-grey;
  }

  color: $color-black-transparent;
}
