//variables stylesheet

//common color variables
$color-black: #000000;
$color-grey: #EBEBEB;
$color-mid-grey: #CACACA;
$color-blue: #00A4DF;
$color-orange: #F88D1C;
$color-dark-orange: #E46D13;
$color-white: #FEFEFE;
$color-crimson: #DC143C;

//modified color variables
$color-mid-grey-transparent: rgba($color-mid-grey, .1);
$color-black-transparent: rgba($color-black, .6);
